::selection { background-color: #2ecc71; color: whitesmoke; }

* { margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; list-style: none; }

h1 { font-size: 4rem; }

h2 { font-size: 3.4rem; line-height: 1em; }

h3 { font-size: 2.7rem; }

h4 { font-size: 2rem; }

h5 { font-size: 1.5rem; }

h6 { font-size: 0.8rem; }

p { font-size: 1.25rem; }

.btn { background: #dcdcdc; display: flex; display: -webkit-flex; display: -moz-flex; display: -o-flex; flex-flow: wrap row; justify-content: center; align-items: center; padding: 0.7rem 2rem; border-radius: 3px; color: #5a5a5a; transition: all .2s ease-out; border: none; cursor: pointer; outline: none; }
.btn.btn-active { background: #30cfe4; color: #ffffff; }
.btn.btn-active:hover { background: #5dd9f1; }
.btn.btn-light:hover { background: #f3f3f3; color: #656565; }

.arrow-icon { border: 1px solid #a3a3a3; color: #a3a3a3; border-radius: 100%; font-size: 1.6rem; padding: 0.5rem; transition: all .2s ease-out; }
.arrow-icon:hover { color: #30cfe4; border-color: #30cfe4; }

.arrow-resp { display: none; }

.tx-center { text-align: center; }

.tx-right { text-align: right !important; }

.tx-left { text-align: left; }

.auth-input { width: 100%; margin-bottom: 1.5em; border: none; background: white; padding: 0.75em; outline: none; }

a { color: #0ebbd2; transition: all .2s ease-out; }
a:hover { color: #30cfe4; }

body { font-family: 'Source Sans Pro', sans-serif; font-size: 16px; background: #f0f0f0; color: #3c3c3c; }

.container main { display: flex; display: -webkit-flex; display: -moz-flex; display: -o-flex; flex-flow: wrap column; justify-content: center; align-items: center; padding: 0 2em; }
.container main form { margin: 2em 0; }
.container main form .head { background: #2ecc71; color: white; padding: 1em; }
.container main form .content { background: #ffffff; padding: 1em; display: flex; display: -webkit-flex; display: -moz-flex; display: -o-flex; flex-flow: wrap column; justify-content: center; align-items: center; }
.container main form .content .cont { display: flex; display: -webkit-flex; display: -moz-flex; display: -o-flex; flex-flow: wrap row; justify-content: center; align-items: center; margin: 1em; }
.container main form .content .cont p { margin: 0 1em; }
.container main form .content .resumen { display: flex; display: -webkit-flex; display: -moz-flex; display: -o-flex; flex-flow: wrap column; justify-content: center; align-items: center; background: #e67e22; padding: 1em; border-radius: 2px; display: none; }
.container main form .content .resumen h3 { font-size: 2rem; color: #ffffff; }
.container main form .content .total { padding: 1em; border-radius: 2px; display: flex; display: -webkit-flex; display: -moz-flex; display: -o-flex; flex-flow: wrap column; justify-content: center; align-items: center; background: #2ecc71; display: none; }

footer { background: #ffffff; width: 100%; padding: 1.5em; display: flex; display: -webkit-flex; display: -moz-flex; display: -o-flex; flex-flow: wrap row; justify-content: center; align-items: center; }

/*# sourceMappingURL=styles.css.map */
