@import "./variables";

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	background: #f0f0f0;
	color:$black2;
}

.container{
	@include col-bt;
	min-height: 100vh;
	main{
		@include col-ct;
		padding-bottom: 2em;
		width: max-content;
		margin: 2em 0;
		background: $white;
		.head{
		    background: $green;
		    color: white;
		    padding: 1em;
		}
		form{
			width: 100%;
			.content{
				padding: 1em;
				@include col-ct;
				.cont{
					@include row-ct;
					margin: 1em;
					p{
						margin:0 1em;
					}
					label{
						transition: all ease-out .2s;
						cursor:pointer;
					    padding: 0.5em 1em;
					    border-radius: 3px;
					    color: white;
					    margin:0.25em;
					    input{
					    	margin-right: 0.25em;
					    }
					}
					.basico{
						background: $violet;
						&:hover{
							background: $violet2;
						}
					}
					.completo{
						background: $green;
						&:hover{
							background: $green2;
						}
					}
				}
			}
		}
	}	
}

.resumen{
	@include col-ct;
    background: $orange;
    padding: 1em;
    border-radius: 2px;
    h3{
    	font-size: 2rem;
    	color:$white;
    }
	p{
		b{
			text-transform: capitalize;
		}
	}
}

.total{
    padding: 1em;
    border-radius: 2px;
	@include row-ct;
	background: $green;
	margin-top:1em;
	b{
		color:$white;
		margin-left: 0.5em;
	}
}

footer{
	background: $white;
	width: 100%;
	padding: 1.5em;
	@include row-ct;
}

@import "./responsive";